.footer{
    margin-top: 20px;
    background: #f3b205;
    display: flex;
    justify-content: center;
    align-items:center;
}

.logo img {
    max-width: 150px;
    padding: 10px;
}

.right{
    flex-grow: 1;
    color: #878787;
    font-size: 12px;
}